
{% extends "gis/admin/openlayers.html" %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    .geometry_map {
        width: 100% !important;
        height: 500px !important;
    }
</style>
{% endblock %}

{% block map_scripts %}
{{ block.super }}
<script type="text/javascript">
    {{ module }}.map.getLayers().clear();

    var baseLayer = new ol.layer.Tile({
        source: new ol.source.XYZ({
            url: '{{ map_settings.tile_url }}',
            attributions: '{{ map_settings.attribution|safe }}'
        })
    });

    {{ module }}.map.addLayer(baseLayer);

    var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [{{ module }}.vector_feature],
        })
    });

    {{ module }}.map.addLayer(vectorLayer);
    {{ module }}.map.getView().setZoom({{ default_zoom }});
</script>
{% endblock %}