{% extends "gis/admin/openlayers.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    .geometry_map {
        width: 100% !important;
        height: 500px !important;
    }
</style>
{% endblock %}

{% block map_code %}
<script type="text/javascript">
    {% block map_creation %}
    {{ block.super }}
    
    var baseLayer = new ol.layer.Tile({
        source: new ol.source.XYZ({
            url: '{{ map_settings.tile_url }}',
            attributions: '{{ map_settings.attribution|safe }}'
        })
    });

    var hikingLayer = {{ module }}.map.getLayers().getArray()[0];
    {{ module }}.map.getLayers().clear();
    {{ module }}.map.addLayer(baseLayer);
    {{ module }}.map.addLayer(hikingLayer);
    {% endblock %}
</script>
{% endblock %}